@import 'function.scss';

.paging {
	margin: 20px 0px 10px;

  .previous {
    display: inline-block;

    a {
      border: 1px solid $dark-gray;
      border-left: 0px;
      border-right: 0px;
      display: block;
      padding: 5px 10px;
      text-decoration: none;
      margin-right: -6px;
    }
  }

  .next {
    display: inline-block;

    a {
      border: 1px solid $dark-gray;
      border-left: 0px;
      border-right: 0px;
      display: block;
      padding: 5px 10px;
      text-decoration: none;
      margin-left: -6px;
    }
  }

  .first {
    display: inline-block;

    a {
      display: block;
      padding: 5px 10px;
      text-decoration: none;
      margin-right: -6px;
      border: 1px solid $dark-gray;
      border-right: 0px;
      -webkit-border-top-left-radius: 5px;
      -moz-border-top-left-radius: 5px;
      -ms-border-top-left-radius: 5px;
      -o-border-top-left-radius: 5px;
      border-top-left-radius: 5px;
      -webkit-border-bottom-left-radius: 5px;
      -moz-border-bottom-left-radius: 5px;
      -ms-border-bottom-left-radius: 5px;
      -o-border-bottom-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
  }

  .last {
    display: inline-block;

    a {
      display: block;
      padding: 5px 10px;
      text-decoration: none;
      border: 1px solid $dark-gray;
      margin-left: -6px;
      border: 1px solid $dark-gray;
      border-left: 0px;
      -webkit-border-top-right-radius: 5px;
      -moz-border-top-right-radius: 5px;
      -ms-border-top-right-radius: 5px;
      -o-border-top-right-radius: 5px;
      border-top-right-radius: 5px;
      -webkit-border-bottom-right-radius: 5px;
      -moz-border-bottom-right-radius: 5px;
      -ms-border-bottom-right-radius: 5px;
      -o-border-bottom-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }

  .paging-nav {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0px 6px;
    border: 1px solid $dark-gray;
    border-left: 0px;
    border-right: 0px;

    &__item {
      display: inline-block;
      border: 0;
      padding-left: 0;

      &:last-child {
        border-right: 0px;
        margin-right: 0px;
      }

      &:hover {
        background-color: #C4D8AF;
      }

      a {
        display: block;
        padding: 5px 15px;
        text-decoration: none;
      }
    }

    .active {
      background-color: $dark-gray;
      a {
        color: $right-gray;
      }
      a:hover {
        background-color: $dark-gray;
      }
    }
  }
}